@model IEnumerable<Wish>
@{
    ViewData["Title"] = "ListWishes";
}

<div class="border p-3 mt-4">
    <div class="row pb-2">
        <h2 class="text-primary">List of Wishes</h2>
    </div>
    <div class="mb-3">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" @Html.DisplayNameFor(model =>model.Name)></th>
                    <th scope="col" @Html.DisplayNameFor(model =>model.Type)></th>
                    <th scope="col" @Html.DisplayNameFor(model =>model.Estimate)></th>
                    <th scope="col" @Html.DisplayNameFor(model =>model.CreationDate)></th>
                    <th scope="col" @Html.DisplayNameFor(model =>model.User.UserId)></th>
                    <th scope="col" @Html.DisplayNameFor(model =>model.Status)></th>
                    <th scope="col" @Html.DisplayNameFor(model =>model.Links)></th>
                    <th scope="col" @Html.DisplayNameFor(model =>model.Desires)></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td @Html.DisplayFor(wish => item.Name)></td>
                        <td @Html.DisplayFor(wish => item.Type)></td>
                        <td @Html.DisplayFor(wish => item.Estimate)></td>
                        <td @Html.DisplayFor(wish => item.CreationDate)></td>
                        <td @Html.DisplayFor(wish => item.User.UserId)></td>
                        <td @Html.DisplayFor(wish => item.Status)></td>
                        <td @Html.DisplayFor(wish => item.Links)></td>
                        <td @Html.DisplayFor(wish => item.Desires)></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

