@model IEnumerable<Wish>
@{
    ViewData["Title"] = "ListWishes";
    Layout = "_Layout";
}

<div class="border p-3 mt-4">
    <div class="row pb-2">
        <h2>List of Wishes</h2>
    </div>
    <div class="mb-3">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Estimate</th>
                    <th>Creation Date</th>
                    <th>User Who Created</th>
                    <th>Status</th>
                    <th>Link</th>
                    <th>Desires</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Type</td>
                        <td>@item.Estimate</td>
                        <td>@item.CreationDate</td>
                        <td>@item.UserEmail</td>
                        <td>@item.Status</td>
                        <td>@item.Links</td>
                        <td>@item.Desires</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

